.section {
    margin-bottom: 30px;
    padding: 5px 20px;
}

.section-title {
    color: var(--cv-line);
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid var(--cv-line);
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 24px;
}

.inf-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.info-item {
    flex: 1;
    min-width: 300px;
}

.inf-item h3 {
    margin-top: 0;
    font-size: 24px;
}

.inf-item p {
    margin: 0;
    font-size: 18px;
}
