@import url('./color.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Optima', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--cv-bg);
  color: var(--cv-text);
}

#root {
  min-height: 100vh;
}
